* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: crosshair;
  font-family: 'Kdam Thmor Pro', sans-serif;
}
body {
  height: 100vh;
  width: 99.1vw;
  position: relative;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #6c757d 1px, rgba(0, 0, 0, 0) 1px);
}
#fullscreen {
  height: inherit;
  width: inherit;
  position: relative;
}
#horizontal-line {
    position: absolute;
    border-bottom: 3px solid red;
    height: 70px;
    width: 100%;
}
#vertical-line {
    position: absolute;
    width: 140px;
    height: 140px;
    border-right: 3px solid red;
}
header {
  margin-top: 19px;
}
#header-text {
  font-size: 2rem;
  font-weight: 700;
  /* padding: 8px 32px; */
  background-color: white;
}

.horizontal-line {
  height: 2px;
  background-color: #006d77;
}

menu {
  width: 24%;
  margin: 20vh auto;
}
#menu-btns .menu-btn {
  font-size: 2rem;
  list-style-type: none;
  /* border: 3px solid #42999b; */
  /* margin-top: 13px; */
  width: auto;
  background: white;
}

#menu-btns .menu-btn:hover {
  background-color: #b8dedc;
}
.start-btn {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.stat-btn {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

main {
  height: 90%;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

main .target {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50px;
  background: #ff4d6d;
  box-shadow: inset 0 0 15px rgba(164, 19, 60, .5);
  position: absolute;
}

.display-off {
  display: none;
}

#smallerscreen {
  display: none;
  text-align: center;
  margin-top: 60px;
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 967px) {
  #fullscreen {
    display: none;
  }
  #smallerscreen {
    display: block;
  }
}